html, body
{
	background-color: #041A2B;
	color:            white;
}

.image-editor-toolbar
{
	left:     0px;
	right:    0px;
	top:      0px;
	padding:  0.5%;

	position: fixed;
	z-index:  995;

	background-color: #011627;
}

.image-editor-toolbar-button
{
	padding: 1%;
	cursor:  pointer;
}

.image-editor-popup
{
	position: absolute;

	z-index:  999;
	left:     0px;
	top:      0px;

	height: 100%;
	width:  100%;
}

.image-editor-popup-overlay
{
	height: 100%;
	width:  100%;

	background-color: rgba(0, 0, 0, 0.3);
}

.image-editor-popup-window
{
	height: 30%;
	width:  30%;

	padding: 1%;

	background-color: #011E33;
}

.image-editor-color-picker
{
	position: absolute;
	z-index:  990;
}
