@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,400i,600,600i,700');


html, body
{
	background-color: #041A2B;
	color:            white;
	font-family:     'Titillium Web', sans-serif;
}

/**
 * Main canvas drawing area style
 */

.image-editor-drawing-area
{
	padding:     1vw;
	padding-top: 3.5vw;
}

/**
 * Main toolbar style
 */

.image-editor-toolbar
{
	left:     0px;
	right:    0px;
	top:      0px;

	padding: 0.48%;

	position: fixed;
	z-index:  995;

	background-color: #011627;

	user-select: none;
}

/**
 * Toolbar section style
 */

.image-editor-toolbar-section
{
	margin-right: 2.1vw;
}

/**
 * Toolbar button styles
 */

.image-editor-toolbar-button
{
	background: transparent;

	padding-left:   1%;
	padding-right:  1%;
	padding-top:    1%;
	padding-bottom: 0.5%;

	cursor: pointer;

	height: 100%;
}

.image-editor-toolbar-button-combo
{
	padding-left: 0%;
}

.image-editor-toolbar-button-icon
{
	vertical-align: sub;
}

.image-editor-toolbar-button:hover
{
	background-color: rgba(255, 255, 255, 0.05);
}

.image-editor-toolbar-button:active
{
	background-color: rgba(0, 0, 0, 0.2);
}

/**
 * Toolbar dropdown styles
 */

.image-editor-toolbar-dropdown
{
	display: inline-block;
	cursor:  pointer;

	margin-left:  0.3%;
	margin-right: 0.3%;

	padding-left:  0.2%;
	padding-right: 0.2%;

	font-size: 0.65vw;
}

.image-editor-toolbar-dropdown-combo
{
	margin-left:  0.5%;
}

.image-editor-toolbar-dropdown:hover
{
	background-color: rgba(255, 255, 255, 0.1);
}

.image-editor-toolbar-dropdown-menu
{
	position: absolute;
	overflow: hidden;

	padding: 0.5%;

	background-color: #011627;

	font-size: 150%;
}

/**
 * Input control styles
 */

.image-editor-control-container
{
	display:       block;
	margin-bottom: 1.5%;
}

.image-editor-textbox-input
{
	border: none;

	font-family: 'Titillium Web', sans-serif;
	font-size:   0.8vw;

	padding:       0.1vw;
	padding-left:  0.4vw;
	padding-right: 0.4vw;

	margin-left:  0.5vw;
	margin-right: 0.5vw;

	vertical-align: text-bottom;
}

.image-editor-textbox-label
{
	font-size: 1vw;

	margin-left:  0.6vw;
	margin-right: 0.6vw;
}

/**
 * Window styles
 */

.image-editor-window-small, .image-editor-window-medium, .image-editor-window-large
{
	position: relative;
	bottom:   15%;
	width:    25vw;

	background-color: #012D4B;

	user-select: none;
}

.image-editor-window-medium
{
	width: 35vw;
}

.image-editor-window-large
{
	width: 45vw;
}

.image-editor-window-title
{
	background-color: #01223A;

	font-size: 1.1vw;

	padding:       0.5vw;
	padding-left:  1vw;
	padding-right: 1vw;
	margin:        0vw;
}

.image-editor-window-controls
{
	padding: 1vw;
}

.image-editor-window-button-container
{
	display: flex;

	font-size: 1.1vw;

	padding:        0.8vw;
	padding-bottom: 1vw;
	margin:         0vw;

	width: 100%;
}

.image-editor-window-button, .image-editor-window-button-accept
{
	background: transparent;
	cursor:     pointer;

	padding:       0.3vw;
	padding-left:  1.5vw;
	padding-right: 1.5vw;

	margin-left:  0.3vw;
	margin-right: 0.3vw;
}

.image-editor-window-button:hover
{
	text-decoration: underline;
}

.image-editor-window-button-accept
{
	background: #00729F;
}

.image-editor-window-button-accept:hover
{
	background:      #0A88B2;
	text-decoration: none;
}

.image-editor-window-button-accept:active
{
	background: #00557A;
}

/**
 * Popup menu styles
 */

.image-editor-popup
{
	position: fixed;

	z-index:  999;
	left:     0px;
	top:      0px;

	height: 100%;
	width:  100%;
}

.image-editor-popup-overlay
{
	height: 100%;
	width:  100%;

    display:         flex;
    align-items:     center;
    justify-content: center;

	background-color: rgba(0, 0, 0, 0.3);
}

/**
 * Color picker styles
 */

.image-editor-color-picker-hue
{
	position: relative;
	padding:  0.5vw;
	margin:   1vw;
}

.image-editor-color-picker-saturation
{
	position: relative;

	padding:        0.5vw;
	padding-top:    8vw;
	padding-bottom: 8vw;

	margin: 1vw;
}

.image-editor-color-controls-left
{
	float: left;
	width: 66%;
}

.image-editor-color-controls-right
{
	float: right;
	width: 34%;
}

.image-editor-color-controls-three
{
	position: relative;
	display:  flex;
	margin:   0.5vw;
}
